
:root {
  /* --main-color: #EB5824; */
  --main-color: linear-gradient(90deg, #9b59b6, #d29de1);
  --main-font-family: 'Times New Roman', Times, serif;
  --main-font-size: 14px;
  --background-color-section: #ffffff;
  --border-radius: 15px;
  --section-width: 400px;
  --section-height: 400px;
}

body {
  margin: 0;
  background: var(--main-color);
}

p {
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
@keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.fade-in-element {
  animation: fadeIn 0.5s ease-in-out forwards;
}


.hide-element {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

